<div id="title">
	<h1>{{title}}</h1>
	<h2>{{subtitle}}</h2>
	<p>{{web}}</p>
</div>

<article class="about">
	<h2>Sobre mí</h2>
	<p>
		Soy una persona que ama la tecnología. Hace un tiempo redescubrí que la programación es lo mío y voy por ello! Estoy aprendiendo nuevas tecnologías y lenguajes, y tengo en mente seguir en ello.<br> 

		Me apasiona el poder automatizar, mejorar y optimizar procesos y métodos, cuidando recursos y agregando valor al producto.<br> 

		Quiero aprender y poder participar de proyectos que me desafíen y me hagan crecer en lo profesional y en lo personal.<br> 

		Quiero trabajar en un equipo donde se proponga, se aporte, se colabore y entre todos logremos concretar grandes objetivos y que nos dejen aprendizajes.<br> 

		Quiero que la empresa donde trabaje sea reconocida y crezca, con trabajos de calidad e innovadores. Y quiero ser parte de todo esto!!!<br> 
	</p>
</article>