<header>
  <ul>
    <li><a [routerLink]="['/sobre-mi']" [routerLinkActive]="['actived']">Sobre mi</a></li>		<!-- el router link active es para marcar la pagina activa cuando me encuentro en tal pagina -->
    <li><a [routerLink]="['/proyectos']" [routerLinkActive]="['actived']">Proyectos</a></li>
    <li id="logo"><a href="#">GV</a></li>
    <li><a [routerLink]="['/crear-proyecto']" [routerLinkActive]="['actived']">Crear proyecto</a></li>
    <li><a [routerLink]="['/contacto']" [routerLinkActive]="['actived']">Contacto</a></li>
  </ul>
</header>

<section id="content">
  <router-outlet></router-outlet>
</section>

<footer>
  Web creada por GabrielValverde con Angular y MongoDB &copy;   <!-- &copy es el simbolo de registrado -->
</footer>